[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = B28C421EE6561C1CBD35A7F2F85B4384F1A4C229
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[core]
	editor = vim
[color]
	ui = true
[merge]
	conflictstyle = zdiff3
[help]
	autocorrect = prompt
[branch]
	sort = -committerdate
[pull]
    rebase = true
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status

